In [1]:
# Section A
# Q.1 Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.

def equal(a, b, c):     
    if(a==b==c):
        print(3)
    elif(a==b or b==c or a==c):
        print(2)
    else:
        print(0)
a = int(input('Enter a : '))
b = int(input('Enter b : '))
c = int(input('Enter c : '))
equal(a, b, c)

Enter a : 11
Enter b : 11
Enter c : 566
2

In [2]:
# Q.2 Write a function that converts a dictionary into a list of keys-values tuples.

dict = { 'Webseries': 12, 'Movies': 14, 'Anime': 31 }

# Converting into list of tuple
list = list(dict.items())

# Printing list of tuple
print(list)

[('Webseries', 12), ('Movies', 14), ('Anime', 31)]

In [3]:
# Q.3 Write a function that creates a dictionary with each (key, value) pair being the (lower case, upper case) versions of a letter, respectively.

def mapping(lst):
    return {v.lower():v.upper() for v in lst}
mapping(['s', 'b'])

{'s': 'S', 'b': 'B'}

In [4]:
# Q.4 Write a function, that replaces all vowels in a string with a specified vowel.

def vow_replace(s,ch):
    vowel ='AEIOUaeiuo'
    s1 = []
    for i in range(len(s)):
        if s[i] in vowel:
            s1.append(ch)
        else:
            s1.append(s[i])

    return ''.join((s1))
vow_replace('The Tale of the Hero','e')

'The Tele ef the Here'

In [5]:
# Q.5 Create a function that takes a string as input and capitalizes a letter if its ASCII code is even and returns its lower case version if its ASCII 
#code is odd.

def ascii_capitalize(s):
    s1 = []
    for i in range(len(s)):
        if ord(s[i]) % 2 == 0:
            s1.append(s[i].upper())
        else:
            s1.append(s[i].lower())

    return "".join((s1))
ascii_capitalize('Will of fire')

'wiLL oF FiRe'

In [6]:
# Section B

# Q.6 #Write a Python Program to Check if a Number is Odd or Even.

def check(NUM):
    if (NUM%2)==0:
        print ("NUMBER IS EVEN")
    else:
        print("NUMBER IS ODD")
X=int(input("ENTER THE NUMBER  "))
Y= check(X)

ENTER THE NUMBER  1000
NUMBER IS EVEN

In [8]:
# Q.7 Write a Python Program to Check Leap Year.

def chk_leap(num):
    if num%4==0 and num%100!=0 or num%400==0:
        return 'The year is leap year'
    else:
        return 'The year is not a leap year'
a = chk_leap(2008)
b = chk_leap(2081)
print(a)
print(b)

The year is leap year
The year is not a leap year

In [9]:
# Q.8 Write a Python Program to check if given array is Monotonic. Check if given array is Monotonic.

def isMonotonic(A):
    x, y = [], []
    x.extend(A)
    y.extend(A)
    x.sort()
    y.sort(reverse=True)
    if(x == A or y == A):
        return True
    return False
 
 
# Driver program
A = [6, 5, 4, 4]
 
# Print required result
print(isMonotonic(A))

True

In [10]:
# Q.9 #Write a Python Program to Split the array and add the first part to the end. Python program to split array and move first part to end.
 
def splitArr(arr, n, k):
    for i in range(0, k):
        x = arr[0]
        for j in range(0, n-1):
            arr[j] = arr[j + 1]
         
        arr[n-1] = x
         
 
#main
arr = [12, 10, 5, 6, 52, 36]
n = len(arr)
position = 2
 
splitArr(arr, n, position)
 
for i in range(0, n):
    print(arr[i], end = ' ')

5 6 52 36 12 10

In [11]:
# Q.10 Write a python program to find sum of elements in list.

import numpy
def multiply_numbers(list):
   return numpy.prod(list)
given_list = [2,51,-344,7,4,85,-56]
print('The list is:',given_list)
print("The product is: ")
print(multiply_numbers(given_list))

The list is: [2, 51, -344, 7, 4, 85, -56]
The product is:
4676528640

In [12]:
# Section C  

#Create a function that takes an integer and returns a list from 1 to the given number, where:
#1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).
#2. If the number cannot be divided evenly by 4, simply return the number.

def amplify(n):
    return [i*10 if i % 4 == 0 else i for i in range(1,n+1)]
amplify(4)

[1, 2, 3, 40]

In [13]:
amplify(3)

[1, 2, 3]

In [14]:
amplify(10)

[1, 2, 3, 40, 5, 6, 7, 80, 9, 10]

In [23]:
# Q.2 Create a function that takes a list of numbers and return the number that's unique.

def unique(lst):
    s = list(set(lst))
    for i in s:
        if lst.count(i) == 1:
            return i

In [31]:
# Q.3 create a Circle constructor that creates a circle with a radius provided by an argument. 
#The circles constructed must have two getters getArea() (PIr^2) and getPerimeter()
#(2PI*r) which give both respective areas and perimeter (circumference).

class Circle():
    def __init__(self, r):
        self.radius = r

    def getArea(self):
        return round(self.radius**2*3.14)
    
    def getPerimeter(self):
        return round(2*self.radius*3.14)

In [29]:
# Q.4 Create a function that takes a list of strings and return a list, sorted from shortest to longest.

def sort_by_length(lst):
    return sorted(lst, key = len)
sort_by_length(['Kaushik', 'Avadhut', 'Soham'])

['Soham', 'Kaushik', 'Avadhut']

In [30]:
# Q.5 Create a function that validates whether three given integers form a Pythagorean triplet. The sum of the squares of the two smallest
# integers must equal the square of the largest number to be validated.

def is_triplet(a,b,c):
    lst = []
    lst.extend((a,b,c))
    lst = sorted(lst)

    if lst[0]**2 + lst[1]**2 == lst[2]**2:
        print('Triplets')
        return True
    else:
        print("not triplet")
        return False
is_triplet(10, 12, 15)

not triplet

False