In [1]:
# Week 4 Classwork Pandas

In [3]:
import pandas as pd

In [5]:
df1 = pd.read_excel(r"orders_data.xlsx")
df1

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
0,405-9763961-5211537,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,NaN,NaN,Delivered to buyer
1,404-3964908-7850720,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
2,171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
3,405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,NaN,NaN,Cash On Delivery,Delivered to buyer
4,402-8910771-1215552,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets a...,1,"₹1,099.00",₹84.96,NaN,Delivered to buyer
...,...,...,...,...,...,...,...,...,...,...,...,...
166,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
167,402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer
168,408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer
169,403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
170,402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,NaN,Delivered to buyer

In [6]:
type(df1)

pandas.core.frame.DataFrame

In [8]:
pd.read_excel(r"orders_data.xlsx", header = None, names = ['A','B'])

,,,,,,,,,,A,B
order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
405-9763961-5211537,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank | Block Printed West Bengal Handicrafts (Shantiniketan Art) | Money Bank for Kids | Children's Gift Ideas,1,₹449.00,NaN,NaN,Delivered to buyer
404-3964908-7850720,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,"Women's Set of 5 Multicolor Pure Leather Single Lipstick Cases with Mirror, Handy and Compact Handcrafted Shantiniketan Block Printed Jewelry Boxes",1,₹449.00,₹60.18,NaN,Delivered to buyer
171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,"Women's Set of 5 Multicolor Pure Leather Single Lipstick Cases with Mirror, Handy and Compact Handcrafted Shantiniketan Block Printed Jewelry Boxes",1,₹449.00,₹60.18,NaN,Delivered to buyer
405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewelry Box with Mirror | Button Closure Multiple Utility Case (Shantiniketan Handicrafts) (Yellow),1,NaN,NaN,Cash On Delivery,Delivered to buyer
...,...,...,...,...,...,...,...,...,...,...,...
171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,"Women's Set of 5 Multicolor Pure Leather Single Lipstick Cases with Mirror, Handy and Compact Handcrafted Shantiniketan Block Printed Jewelry Boxes",3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Leather Shoulder Bag: Double Handle Red Handbag | Multi-pocket Shantiniketan Leather Bag for Women,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer
408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Leather Shoulder Bag: Double Handle Red Handbag | Multi-pocket Shantiniketan Leather Bag for Women,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer
403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent Leather Shoulder Bag Contemporary Indian Leather Handicrafts for Women (Yellow) (BL335),1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank | Block Printed West Bengal Handicrafts (Shantiniketan Art) | Money Bank for Kids | Children's Gift Ideas,1,₹449.00,₹84.96,NaN,Delivered to buyer

In [9]:
df1.head()

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
0,405-9763961-5211537,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,NaN,NaN,Delivered to buyer
1,404-3964908-7850720,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
2,171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
3,405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,NaN,NaN,Cash On Delivery,Delivered to buyer
4,402-8910771-1215552,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets a...,1,"₹1,099.00",₹84.96,NaN,Delivered to buyer

In [11]:
df1.tail()

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
166,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
167,402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer
168,408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer
169,403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
170,402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,NaN,Delivered to buyer

In [12]:
ap = pd.read_excel("orders_data.xlsx")
ap

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
0,405-9763961-5211537,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,NaN,NaN,Delivered to buyer
1,404-3964908-7850720,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
2,171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
3,405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,NaN,NaN,Cash On Delivery,Delivered to buyer
4,402-8910771-1215552,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets a...,1,"₹1,099.00",₹84.96,NaN,Delivered to buyer
...,...,...,...,...,...,...,...,...,...,...,...,...
166,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
167,402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer
168,408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer
169,403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
170,402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,NaN,Delivered to buyer

In [13]:
pd.read_excel('orders_data.xlsx',names=['order_no','buyer	'])

,,,,,,,,,,order_no,buyer\t
405-9763961-5211537,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank | Block Printed West Bengal Handicrafts (Shantiniketan Art) | Money Bank for Kids | Children's Gift Ideas,1,₹449.00,NaN,NaN,Delivered to buyer
404-3964908-7850720,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,"Women's Set of 5 Multicolor Pure Leather Single Lipstick Cases with Mirror, Handy and Compact Handcrafted Shantiniketan Block Printed Jewelry Boxes",1,₹449.00,₹60.18,NaN,Delivered to buyer
171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,"Women's Set of 5 Multicolor Pure Leather Single Lipstick Cases with Mirror, Handy and Compact Handcrafted Shantiniketan Block Printed Jewelry Boxes",1,₹449.00,₹60.18,NaN,Delivered to buyer
405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewelry Box with Mirror | Button Closure Multiple Utility Case (Shantiniketan Handicrafts) (Yellow),1,NaN,NaN,Cash On Delivery,Delivered to buyer
402-8910771-1215552,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets and Adjustable Strap | Shantiniketan Block Print Cross-Body Bags for Women (1 pc) (Brown),1,"₹1,099.00",₹84.96,NaN,Delivered to buyer
...,...,...,...,...,...,...,...,...,...,...,...
171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,"Women's Set of 5 Multicolor Pure Leather Single Lipstick Cases with Mirror, Handy and Compact Handcrafted Shantiniketan Block Printed Jewelry Boxes",3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Leather Shoulder Bag: Double Handle Red Handbag | Multi-pocket Shantiniketan Leather Bag for Women,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer
408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Leather Shoulder Bag: Double Handle Red Handbag | Multi-pocket Shantiniketan Leather Bag for Women,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer
403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent Leather Shoulder Bag Contemporary Indian Leather Handicrafts for Women (Yellow) (BL335),1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank | Block Printed West Bengal Handicrafts (Shantiniketan Art) | Money Bank for Kids | Children's Gift Ideas,1,₹449.00,₹84.96,NaN,Delivered to buyer

In [16]:
ap.tail()

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
166,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
167,402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer
168,408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer
169,403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
170,402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,NaN,Delivered to buyer

In [17]:
type(ap)

pandas.core.frame.DataFrame

In [18]:
len(ap)

171

In [19]:
ap.columns

Index(['order_no', 'order_date', 'buyer', 'ship_city', 'ship_state', 'sku',
       'description', 'quantity', 'item_total', 'shipping_fee', 'cod',
       'order_status'],
      dtype='object')

In [20]:
ap.dtypes

order_no        object
order_date      object
buyer           object
ship_city       object
ship_state      object
sku             object
description     object
quantity         int64
item_total      object
shipping_fee    object
cod             object
order_status    object
dtype: object

In [22]:
ap[['order_date','ship_state','cod']]

                          order_date         ship_state               cod
0    Sun, 18 Jul, 2021, 10:38 pm IST         CHANDIGARH               NaN
1     Tue, 19 Oct, 2021, 6:05 pm IST  ARUNACHAL PRADESH               NaN
2    Sun, 28 Nov, 2021, 10:20 pm IST  ARUNACHAL PRADESH               NaN
3     Wed, 28 Jul, 2021, 4:06 am IST          TELANGANA  Cash On Delivery
4    Tue, 28 Sept, 2021, 2:50 pm IST        MAHARASHTRA               NaN
..                               ...                ...               ...
166  Mon, 13 Dec, 2021, 11:30 am IST        MAHARASHTRA  Cash On Delivery
167   Wed, 1 Dec, 2021, 12:18 pm IST        UTTARAKHAND               NaN
168    Thu, 9 Dec, 2021, 6:55 pm IST       CHHATTISGARH               NaN
169  Wed, 23 Feb, 2022, 12:43 am IST        WEST BENGAL  Cash On Delivery
170   Sun, 26 Dec, 2021, 6:21 pm IST        MAHARASHTRA               NaN

[171 rows x 3 columns]

In [24]:
ap.describe()

         quantity
count  171.000000
mean     1.087719
std      0.445132
min      1.000000
25%      1.000000
50%      1.000000
75%      1.000000
max      4.000000

In [25]:
ap.dtypes == 'object'

order_no         True
order_date       True
buyer            True
ship_city        True
ship_state       True
sku              True
description      True
quantity        False
item_total       True
shipping_fee     True
cod              True
order_status     True
dtype: bool

In [27]:
ap.dtypes[ap.dtypes == 'object']

order_no        object
order_date      object
buyer           object
ship_city       object
ship_state      object
sku             object
description     object
item_total      object
shipping_fee    object
cod             object
order_status    object
dtype: object

In [29]:
ap.dtypes[ap.dtypes == 'object'].index

Index(['order_no', 'order_date', 'buyer', 'ship_city', 'ship_state', 'sku',
       'description', 'item_total', 'shipping_fee', 'cod', 'order_status'],
      dtype='object')

In [30]:
ap[ap.dtypes[ap.dtypes == 'object'].index]

,order_no,order_date,buyer,ship_city,ship_state,sku,description,item_total,shipping_fee,cod,order_status
0,405-9763961-5211537,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,₹449.00,NaN,NaN,Delivered to buyer
1,404-3964908-7850720,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,₹449.00,₹60.18,NaN,Delivered to buyer
2,171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,₹449.00,₹60.18,NaN,Delivered to buyer
3,405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,NaN,NaN,Cash On Delivery,Delivered to buyer
4,402-8910771-1215552,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets a...,"₹1,099.00",₹84.96,NaN,Delivered to buyer
...,...,...,...,...,...,...,...,...,...,...,...
166,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
167,402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,"₹1,299.00",₹114.46,NaN,Delivered to buyer
168,408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,"₹1,299.00",₹105.02,NaN,Delivered to buyer
169,403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
170,402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,₹449.00,₹84.96,NaN,Delivered to buyer

In [31]:
ap[ap.dtypes[ap.dtypes == 'object'].index].describe()

,order_no,order_date,buyer,ship_city,ship_state,sku,description,item_total,shipping_fee,cod,order_status
count,171,171,171,171,171,171,171,153,145,47,171
unique,171,171,149,81,30,54,61,18,13,1,2
top,405-9763961-5211537,"Sun, 18 Jul, 2021, 10:38 pm IST",Geetika,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,₹449.00,₹84.96,Cash On Delivery,Delivered to buyer
freq,1,1,3,17,31,33,33,52,100,47,160

In [32]:
ap.dtypes[ap
          .dtypes == 'float']

Series([], dtype: object)

In [50]:
k[k.dtypes[k.dtypes == 'float'].index]

     AccelSec
0         4.6
1        10.0
2         4.7
3         6.8
4         9.5
..        ...
98        7.5
99        4.5
100       5.9
101       5.1
102       7.5

[103 rows x 1 columns]

In [33]:
ap[ap.dtypes[ap.dtypes == 'float'].index].describe

<bound method NDFrame.describe of Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[171 rows x 0 columns]>

In [35]:
ap['ship_city']

0       CHANDIGARH,
1         PASIGHAT,
2         PASIGHAT,
3      DEVARAKONDA,
4           MUMBAI,
           ...
166         MUMBAI,
167       DEHRADUN,
168           Durg,
169        KOLKATA,
170         MUMBAI,
Name: ship_city, Length: 171, dtype: object

In [36]:
 ap['ship_city'][1:14:2]

1        PASIGHAT,
3     DEVARAKONDA,
5          HOWRAH,
7        BAREILLY,
9          Bhilai,
11       AGARTALA,
13           PUNE,
Name: ship_city, dtype: object

In [37]:
ap

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
0,405-9763961-5211537,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,NaN,NaN,Delivered to buyer
1,404-3964908-7850720,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
2,171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
3,405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,NaN,NaN,Cash On Delivery,Delivered to buyer
4,402-8910771-1215552,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets a...,1,"₹1,099.00",₹84.96,NaN,Delivered to buyer
...,...,...,...,...,...,...,...,...,...,...,...,...
166,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
167,402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer
168,408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer
169,403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
170,402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,NaN,Delivered to buyer

In [38]:
ap.columns

Index(['order_no', 'order_date', 'buyer', 'ship_city', 'ship_state', 'sku',
       'description', 'quantity', 'item_total', 'shipping_fee', 'cod',
       'order_status'],
      dtype='object')

In [41]:
ap['ship_city']== max(ap['ship_city'])

0      False
1      False
2      False
3      False
4      False
       ...
166    False
167    False
168    False
169    False
170    False
Name: ship_city, Length: 171, dtype: bool

In [43]:
ap['order_no']

0      405-9763961-5211537
1      404-3964908-7850720
2      171-8103182-4289117
3      405-3171677-9557154
4      402-8910771-1215552
              ...
166    171-2829978-1258758
167    402-3045457-5360311
168    408-2260162-8323567
169    403-5664951-8941100
170    402-4845680-8041921
Name: order_no, Length: 171, dtype: object

In [44]:
ap[ap['ship_city']== 'MUMBAI']

Empty DataFrame
Columns: [order_no, order_date, buyer, ship_city, ship_state, sku, description, quantity, item_total, shipping_fee, cod, order_status]
Index: []

In [45]:
len(ap[ap['ship_city']== 'MUMBAI'])

0

In [46]:
ap[ap['quantity']>1]

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
39,404-8031085-1381943,"Fri, 26 Nov, 2021, 9:12 pm IST",Kangana,"NEW DELHI,",DELHI,SKU: 54-D265-B74K,Set of 2 Pure Leather Block Print Round Jewelr...,4,NaN,₹84.96,NaN,Returned to seller
86,408-6770537-3774707,"Sun, 17 Oct, 2021, 10:22 am IST",Paromita,"Mumbai,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,2,₹898.00,₹84.96,NaN,Delivered to buyer
97,171-6267238-3345112,"Thu, 18 Nov, 2021, 9:55 pm IST",Geetika,"GURUGRAM,",HARYANA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,NaN,Delivered to buyer
117,402-6563725-6606725,"Tue, 21 Dec, 2021, 4:11 pm IST",Mitra,"Kolkata,",WEST BENGAL,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,3,"₹3,897.00",₹133.34,NaN,Delivered to buyer
121,402-9977250-1302757,"Tue, 21 Dec, 2021, 4:15 pm IST",Mitra,"CHENNAI,",TAMIL NADU,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,3,"₹3,897.00",₹241.90,NaN,Delivered to buyer
136,171-7361479-0297146,"Fri, 10 Dec, 2021, 11:38 am IST",Amol,"PUNE,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,4,"₹1,796.00",₹84.96,NaN,Delivered to buyer
166,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer

In [48]:
ap[ap['quantity']>1]['buyer']

39      Kangana
86     Paromita
97      Geetika
117       Mitra
121       Mitra
136        Amol
166      Shahin
Name: buyer, dtype: object

In [50]:
data = {'name' : ['Gauri', 'Avadhut','Murti','Poorva'], 
       'salary': [1234, 3200, 1300, 123400],
       'email': ['gp@mes.ac.in', 'ap@mes.ac.in', 'mp@mes.ac.in','Pp@mes.ac.in'],
       'addr': ['KAMOTHE', 'KALAMBOLI', 'Dubai', 'PANVEL']}
ab = pd.DataFrame(data)
ab

      name  salary         email       addr
0    Gauri    1234  gp@mes.ac.in    KAMOTHE
1  Avadhut    3200  ap@mes.ac.in  KALAMBOLI
2    Murti    1300  mp@mes.ac.in      Dubai
3   Poorva  123400  Pp@mes.ac.in     PANVEL

In [51]:
pd.DataFrame(data,index = [4,5,6,7])

      name  salary         email       addr
4    Gauri    1234  gp@mes.ac.in    KAMOTHE
5  Avadhut    3200  ap@mes.ac.in  KALAMBOLI
6    Murti    1300  mp@mes.ac.in      Dubai
7   Poorva  123400  Pp@mes.ac.in     PANVEL

In [52]:
ab.loc[4:7]

Empty DataFrame
Columns: [name, salary, email, addr]
Index: []

In [53]:
ab.iloc[1:3]

      name  salary         email       addr
1  Avadhut    3200  ap@mes.ac.in  KALAMBOLI
2    Murti    1300  mp@mes.ac.in      Dubai