In [25]:
class MyClass:
  x = 5

In [26]:
class MyNewClass:
    '''This is a docstring. I have created a new class'''
    pass

In [2]:
class Book:
    def __init__(self, title, quantity, author, price):
        self.title = title
        self.quantity = quantity
        self.author = author
        self.price = price

    def __repr__(self):
        return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}, Price: {self.price}"


book1 = Book('Spaceandrocket', 500, 'Avadhut Patil', 2000)
book2 = Book('Just my things', 499, 'Kaushik Thale', 2220)
book3 = Book('Surviving with enough space', 501, 'Soham Bakkar', 2100)
book4 = Book('ASK', 1,'AVADHUT, SOHAM, KAUSHIK', 5001)
print(book1)
print(book2)
print(book3)
print(book4)

Book: Spaceandrocket, Quantity: 500, Author: Avadhut Patil, Price: 2000
Book: Just my things, Quantity: 499, Author: Kaushik Thale, Price: 2220
Book: Surviving with enough space, Quantity: 501, Author: Soham Bakkar, Price: 2100
Book: ASK, Quantity: 1, Author: AVADHUT, SOHAM, KAUSHIK, Price: 5001

In [3]:
class bank:
    def transaction(self):
        print("Total transaction value: ")

    def account_opening(self):
        print("This will show you your deposited account:")

    def deposite(self):
        print("deposited account")

    def test(self):
        print("this is test from bank")

class HDFC_bank():
    def hdfc_to_ICICI(self):
        print("This is hdfc to ICICI")

    def test(self):
        print("this is test from HDFC")

class iNeuron():
    def account_status_icici(self):
        print("This is iNeuron")

class ICICI(HDFC_bank, bank, iNeuron):
    def icici(self):
        print("indepedent")


i=ICICI()

i.hdfc_to_ICICI()
#i.transaction()
#i.account_opening()
#i.deposite()
#i.icici()
#i.test()
#i.account_status_icici()

This is hdfc to ICICI

In [4]:
#using __init__ function

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Sohshik", 38)

print(p1.name)
print(p1.age)

Sohshik
38

In [5]:
#object methods
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
    
#Objects can also contain methods. Methods in objects are functions that belong to the object.
#Let us create a method in the Person class:

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Chamya", 69)
p1.myfunc()

Hello my name is Chamya

In [8]:
#The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.
class Person:
  def __init__(mysillyobject, name, surname):
    mysillyobject.name = name
    mysillyobject.surname = surname

  def myfunc(abc):
    print("Hello my name is " + abc.name + " and surname is " + abc.surname )

p1 = Person("Avadhoot", "Patil")
p1.myfunc()

Hello my name is Avadhoot and surname is Patil

In [10]:
class Employee:
   'Common base class for all employees'
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print( "Total Employee %d" % Employee.empCount)

   def displayEmployee(self):
      print ("Name : ", self.name,  ", Salary: ", self.salary)


emp1 = Employee("Kaushik", 1)

emp2 = Employee("Avadhut", 2)

emp3 = Employee("Soham", 3*10/3-7)


emp1.displayEmployee()
emp2.displayEmployee()
emp3.displayEmployee()
print ("Total Employee %d" % Employee.empCount)

Name :  Kaushik , Salary:  1
Name :  Avadhut , Salary:  2
Name :  Soham , Salary:  3.0
Total Employee 3

In [11]:
class NumList:
    def __init__(self):
        self.__list = [] 
    
    def add_value(self, val):
        self.__list.append(val)
    
    def remove_value(self):
        rv = self.__list[-1]
        del self.__list[-1]
        return rv
    
    def print_list(self):
        return self.__list

list01 = NumList()
print('Initial list of values of list01:', list01.print_list())
list01.add_value(2)
list01.add_value(20)
list01.add_value(44)
list01.add_value(12)
print('Updated list after adding values to it:', list01.print_list())
val = list01.remove_value()
print('Updated list after removing value %s is: ' % (val), list01.print_list())

Initial list of values of list01: []
Updated list after adding values to it: [2, 20, 44, 12]
Updated list after removing value 12 is:  [2, 20, 44]

In [12]:
list02 = NumList()
print('Initial list of values list02:', list02.print_list())
list02.add_value(2000)
list02.add_value(500)
list02.add_value(44444)
list02.add_value(122222)
print('Updated list after adding values to it:', list02.print_list())
val = list02.remove_value()
print('Updated list after removing value %s is: ' % (val), list02.print_list())

Initial list of values list02: []
Updated list after adding values to it: [2000, 500, 44444, 122222]
Updated list after removing value 122222 is:  [2000, 500, 44444]

In [13]:
# Class creation
class Car:
  # Initializer Method
  def __init__(self):
    # Instance variables
    self.color = 'Black'
    self.fuel_type = 'Petrol'
  # Creating a class method
  @classmethod
  def details(cls, color, fuel_type):
    print("This is a {} car of colour {}".format(fuel_type, color))
  # Creating a class method 
  @staticmethod
  def ecofriendly(fuel_type):
    if fuel_type.lower()=='electric':
      print("This car is ecofriendly!")
    else:
      print("This car is not ecofriendly!")
# Object Creation
SUV = Car()
SUV.details('Matte Black', 'Mustang')
SUV.ecofriendly('Power Petrol')

This is a Mustang car of colour Matte Black
This car is not ecofriendly!

In [14]:
# Parent Class
class Vehicle:
  def __init__(self):
    self.color = 'Black'
  def fuel_type(self):
    print("This is an Electric Vehicle")
# Child Class
class Bike(Vehicle):
  def __init__(self):
    # Inherit the initializer method of parent class
    super().__init__()
  
  # Method to use the attributes of parent class
  def details(self):
    print("The color of this Bike is :", self.color)
# Object for child class
Superbike = Bike()
# Access the method of child class
Superbike.details()

The color of this Bike is : Black

In [19]:
class car:
    def __init__(self, milage, year, make, model,engineno):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = model
        self.engineno = engineno

In [20]:
nano1 = car(13, 2022, "weew", "sass", 2332)
audiq71 = car(11, 2021, "weqq","qweq",2342342)
nano2 = car(13, 2022, "weew", "sass", 2332)
audiq72 = car(11, 2021, "weqq","qweq",2342342)
nano3 = car(13, 2022, "weew", "sass", 2332)
audiq73 = car(11, 2021, "weqq","qweq",2342342)
nano4 = car(13, 2022, "weew", "sass", 2332)
audiq74 = car(11, 2021, "weqq","qweq",2342342)

In [22]:
class car:
    def __init__(a, m, y, ma, mo,en):
        a.milage = m
        a.year = y
        a.make = ma
        a.model = mo
        a.engineno = en
    
    def age(self, current_year):
        return current_year - self.year
    
    def milage1(self):
        print("print a milage of car : ", self.milage)
        #return self.milage
    
    def __str__(c):
        return "this is my car class I have created"